<div class="panel panel__piece"></div>

<button>Start</button>
<button>Stop</button>
<button>Reset</button>

<div class="panel panel__info">
  <header>Instructions</header>
  <main>
    In your keyboard:
    <p>
      <strong><i class="ri-arrow-left-fill"></i></strong> or
      <strong><i class="ri-arrow-right-fill"></i></strong> to rotate
    </p>
    <p>
      <strong><i class="ri-space"></i></strong> or
      <strong><i class="ri-arrow-down-fill"></i></strong> to drop
    </p>
  </main>
</div>
