<div class="panel panel__piece"></div>

<button>Start</button>
<button (click)="clickPause()">{{ isPaused ? "Resume" : "Pause" }}</button>
<button>Reset</button>

<div class="panel panel__info">
  <header>Information</header>
  <main>
    <p>
      <span>Level: </span><span>{{ stateSvc.level }}</span>
    </p>
    <p>
      <span>Time: </span><span> {{ stateSvc.timer$ | async }}</span>
    </p>
    <p>
      <span>Score: </span><span>{{ stateSvc.score }}</span>
    </p>
    <p>
      <span>Lines: </span><span>{{ stateSvc.lines }}</span>
    </p>
  </main>
</div>

<div class="panel panel__instructions">
  <header>Instructions</header>
  <main>
    In your keyboard:
    <p>
      <strong><i class="ri-arrow-left-fill"></i></strong> or
      <strong><i class="ri-arrow-right-fill"></i></strong> to rotate
    </p>
    <p>
      <strong><i class="ri-space"></i></strong> or
      <strong><i class="ri-arrow-down-fill"></i></strong> to drop
    </p>
  </main>
</div>
