<div class="table">
  @for(row of table; track row){
  <div class="row">
    @for(cell of row; track cell){

    <div
      class="cell"
      [ngClass]="{ piece: cell !== 'x' }"
      [style]="
        cell !== 'x'
          ? 'background: var(--' +
            PIECES_COLOR[cell] +
            '-' +
            PIECES_INTENSE[cell].background +
            '); border-color:var(--' +
            PIECES_COLOR[cell] +
            '-' +
            PIECES_INTENSE[cell].border +
            '); '
          : ''
      "
    ></div>
    }
  </div>
  }
</div>
